/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  .modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: larger;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
  }

  .input {
    border-radius: 7px;
    background: #EFEFEF;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .inputLabel {
    font-size: 14px;
  }

  .alert {
    color: red;
    font-size: small;
  }

  .submitButton {
    border-radius: 3px;
    background: #198564;
    padding: 5px 20px;
    color: #efefef;
  }

  .submitButton:disabled {
    border-radius: 3px;
    background: #BFBFBF;
    padding: 5px 20px;
    color: #EFEFEF;
  }

  .checkbox {
    margin-top: 7px;
    margin-bottom: 10px;
  }