.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-width: 2px;
    border-color: #F9F9FC;
}

.tableHead {
    background-color: #F9F9FC;
    text-align: start;
}

.productName {
    display: flex;
    flex-direction: row;
    padding: 15px 15px 15px 30px;
    gap: 10px;
}

.category {
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}